// color 
$dark_grey : #333333;
$grey: #666;
$blue: #007bff;
$dark_blue:#000058;
$white:#f7f7f7;
// spacing
// m size
$small-size : 1.2rem;
$medium-size : 1.6rem;
$large-size : 3.2rem;
$Xlarge-size : 4.8rem;
$XXlarge-size : 6.4rem;
$desktopbreakpoint :45rem;
$button_font_size:1.2rem;
$font-size-large: 1rem;